html,body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat";
    overflow-y: scroll;
  }
body::-webkit-scrollbar {
  display:none;
  scrollbar-width: none; 
}
.container1{
    position: relative;
    padding:0;
    margin:0;
    height:100%;
    background-image:url('../images/pizzaBG.jpg');
    width:100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; 
}
.container1 .innercontainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header1{
    font-size:30px;
    color:white;
    text-align: center;
    margin:0;
    padding-top: 25px;
}
.text{
    position:relative;
    color:white;
    font-size:24px;
    float:right;
    bottom: 40px;
    cursor: pointer;
}
.text.active{
    display:none;
 }
.closeMenu{
    display:flex;
    font-size:35px;
    cursor:pointer;
    position:relative;
    left:145px;
    bottom:45%;
}
.closeMenu:hover{
    opacity: 0.7; 
}
.menu{
    display:none;
}
nav.active{
    position:fixed;
    display:flex;
    top:0;
    left:73%;
    background-color:#ffc500;
    width:27%;
    height:100%;
    z-index:10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menuList{
    right:6.5%;
    position: fixed;
    list-style: none;
    text-align:center;
    display:inline-block;
    top:80px;
}
.menuList li a{
    display: inline-block;
    color:black;
    text-decoration: none;
    font-size: 25px;
    line-height: 46px;
    cursor: pointer;
    padding:20px;
    align-self: auto;
}
.menuList li a:hover{
    color:rgb(238, 41, 74);
}
.btn{
    display:flex;
    position:relative;
    font-size:15px;
    padding:16px 60px;
    color:white;
    background-color:rgb(238, 41, 74) ;
    top:190px;
    transition:0.3s ease-in-out;
}
.btn:hover{
    cursor: pointer;
    color:black;
    background-color:white;
    transform: translateY(-10px); 
}
.writeup1{
    width:65%;
    height:70%;
    position: relative;
    color:white;
    font-family: "Times New Roman";
    margin:90px 70px;
    line-height: 5em;
}
.title1{
    font-size:69px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Times New Roman";
    border-style: solid;
    border-width: 0px 3px 5px 0px;
    border-color:#ffc500;
    width:60%;
    margin:0;
}
.p1{
    text-transform: uppercase;
    font-size:32px;
    margin:0;
    font-weight: bold;
}
.btn1{
    position: relative;
    text-align: center;
    display:inline-block;
    font-family: "Arial";
    font-size: 19px;
    margin: 0;
    padding:0;
    justify-content: center;
    width:14em;
    background-color:rgb(241, 34, 69);
    transition:0.3s ease-in-out;
 
}

.btn1:hover{
    background-color:#ffc500;
    color:black;
    cursor: pointer;
    transform: translateY(-10px); 
}
.container2{
     background-color: #0f0400;
     width: 100%;
     height: 130%;
     margin: 0;
     padding:0;
}
.header2{
    margin:0;
    padding:55px;
    color:white;
    font-size:30px;
    text-align: center;
}
.products1{
    color:white;
    display:flex;
    flex-wrap:wrap;
    flex:0.5;
    justify-content: center;
}
.products1 img{
    width:19em;
    height:19em;
    border-style: solid;
    border-width: 0px 8px 8px 0px;
    border-color:#f4f804;
}
.products1 h3{
    font-size:25px;
}
.products1 h4{
    font-size:30px;
}
.products1 btn{
    font-size: 20px;
    padding:12px 30px;
    position: relative;
    left:25%;
    width:150px;
    display:flex;
    transition:0.3s ease-in-out;
    background-color:rgb(238, 41, 74);
}
.products1 btn:hover{
    background-color:#ffc500;
    color:black;
    cursor: pointer;
    transform: translateY(-10px);  
}
.product1{
    width:30%;
    height:95%;
    text-align: center;
}
.product2{
    width:30%;
    height:95%;
    text-align: center;
}
.product3{
    width:30%;
    height:95%;
    text-align: center;
}
.container3{
    background-image:url('../images/featured3.jpg');
    width: 100%;
    height: 70%;
    background-size:100% 123%;
    background-repeat: no-repeat;
}
.container3 .innercontainer2{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
.writeup2{
    color:white;
    margin:0;
    padding:10;
    display:flex;
    flex-wrap:wrap;
    flex:1;
    justify-content: center;
    text-align: center;
}
.writeup2 h1{
    margin:0;
    font-size:65px;
    padding-top:70px;
}
.writeup2 p{
    font-size:30px;
    margin:0;
    padding:0;
}
.container3 .btn2{
    text-align: center;
    justify-content: center;
    padding-top:30px;
}
.container3 .btn2 btn{
    position: relative;
    left:42%;
    width:130px;
    display:flex;
    color:black;
    transition:0.3s ease-in-out;
    background-color: #ffc500;
    font-size: 20px;
    padding:14px 40px;   
}
.container3 .btn2 btn:hover{
    color:white;
    background-color: rgb(238, 41, 74);
    cursor: pointer;
    font-size: 20px;
    padding:14px 40px; 
    transform: translateY(-10px);  
}
.container4{
    background-color:  #0f0400;
    width: 100%;
    height: 130%;
    color:white;
}
.container4 .header3{
    font-size:30px;
    text-align: center;
    margin:0;
    padding:50px;
}
.products2{
    display:flex;
    flex-wrap:wrap;
    flex:1;
    justify-content: center;
    text-align: center;
}
.products2 img{
    width:19em;
    height:19em;
    border-style: solid;
    border-width: 0px 8px 8px 0px;
    border-color:#f4f804;
}

.products2 h3{
    font-size:25px;
}
.products2 h4{
    font-size:30px;
}
.products2 btn{
    position: relative;
    left:25%;
    width:150px;
    display:flex;
    font-size: 20px;
    padding:12px 30px;
    background-color:rgb(238, 41, 74);
    transition:0.3s ease-in-out;
}
.products2 btn:hover{
    background-color:#ffc500;
    color:black;
    cursor: pointer;
    transform: translateY(-10px);
}
.product2a{
    width:30%;
    height:95%;
    text-align: center;
}
.product2b{
    width:30%;
    height:95%;
    text-align: center;
}
.product2c{
    width:30%;
    height:95%;
    text-align: center;
}
.footer{
    position:relative;
    background-color: #050505;
    height:20%;
    color:white;
    margin:0;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    flex:1;
}
.footer .header4 {
    text-decoration: none;
    list-style: none;
}
.footer .header4{
    position:absolute;
    font-size:25px;
    margin:0;
    padding:0;
    bottom:40px;
    left:10%;
}
.footer .elly{
    position:absolute;
    bottom:40px;
    left:45%;
}
.footer .mediaLogo{
    position:absolute;
     left:66%;
     bottom:30px;
     display:flex;
     justify-content: center;
     align-items: center;   
}
.footer .mediaLogo a{
    display: inline-block;
    margin-left: 15px;
    background: black;
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;   
    border-radius: 50%;
    transition:0.2s ease-in-out;
}
.footer .mediaLogo a:hover{
    background-color:  #ffc500;;
    transform: translateY(-10px);
}
/* responsiveness 411px */
@media (max-width:411px){
 .container1{
    margin:0;
    padding:0;
    width:100%;
    position:relative;  
}
.header1{
    position: relative;
    font-size:24px;
    right:18%;
}
.text{
    font-size:22px;
}
.p1{
    top:55%;
}
.header .menu{
    position: fixed;
    float:left;
    width:85%;
    height:100%;
    left:16.2%;
    z-index:10;
}
.menuList{
    position: absolute;
    right:20%;
}
.menuList{
    position: absolute;
    right:27%;
}
.writeup1{
    flex-direction: column;
    display:flex;
    position: relative;
    width:80%;
    right:50px;
    top:10%;
    height:60%;
}
.title1{
    top:25%;
    position: absolute;
    width:90%;
    font-size:40px;
    line-height:40px;
}
.p1{
    position: absolute;
    font-size:25px;
    top:55%;
}
.btn1{
    top:73%;
    width:65%;
    
}
.closeMenu{
   left:95px;
} 
.container2{
    width: 100%;
    height: 340%;
}
.products1{
    position: relative;
    display:flex;
    flex-wrap:wrap;
    padding-top:30px;
    justify-content: center;
    align-items: center;
}
.products1 img{
    width:18em;
    height:19em;
}
.products1 h3{
     font-size:25px;
}
.products1 h4{
     font-size:30px;
}
.products1 btn{
     font-size: 20px;
     padding:10px 25px;
     position: relative;
     left:2px;
     width:150px;
     display:inline-block;
}
.product1{
     width:100%;
     height:95%;
     text-align: center;
}
.product2{
     width:100%;
     height:95%;
     text-align: center;
     padding-top:70px;
}
.product3{
     width:100%;
     height:95%;
     text-align: center;
     padding-top:70px;
}
.container3{
    margin:0;
    padding:0;
    position:relative;
    width:100%;
}
.writeup2{
    margin:0;
    padding:10;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
}
.writeup2 h1{
    margin:0;
    font-size:40px;
    padding-top:100px;
}
.writeup2 p{
    font-size:20px;
    margin:0;
    padding:0;
}
.container3 .btn2 btn{
    position: relative;
    left:25%;
    width:120px;
    display:flex;
    font-size: 20px;
    padding:12px 30px;   
}
.container4{
    width: 100%;
    height: 340%;
}
.container4 .header3{
    font-size:30px;
    text-align: center;
    margin:0;
    padding:50px;
}
.products2{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    }
.products2 img{
    width:18em;
    height:19em;
}
.products2 h3{
    font-size:25px;
}
.products2 h4{
    font-size:30px;
}
.products2 btn{
    font-size: 20px;
    padding:10px 25px;
    position: relative;
    left:2px;
    width:150px;
    display:inline-block;
}
.product2a{
    width:100%;
    height:95%;
    text-align: center;
}
.product2b{
    width:100%;
    height:95%;
    text-align: center;
    padding-top:70px;
}
.product2c{
    width:100%;
    height:95%;
    text-align: center;
    padding-top:70px;
}  
.footer{
    width: 100%;
    margin:0;
    padding:0;
    position: relative;
    justify-content: center;
    display:flex;
    align-items: center;
}
.footer .header4{
    position:absolute;
    left:33%;
    top:10%;
    font-size:20px;
    text-align: center;
}
.footer .elly{
    position:absolute;
    left:29%;
    bottom:49%;
    text-align: center;
}
.footer .mediaLogo{
    display:flex;
    position: relative;
    left:-3px;
    top:30%;
    text-align: center;  
 }
}
/*responsiveness 500px*/
@media (max-width:500px){
.container1{
    margin:0;
    padding:0;
    width:100%;
    position:relative;  
}
.header1{
    position: relative;
    font-size:24px;
    right:18%;
}
.text{
    font-size:22px;
}
.header .menu{
    position: fixed;
    float:left;
    width:85%;
    height:100%;
    left:16.2%;
    z-index:10;
}
.menu .closeMenu{
    margin-left: 15px;
}
.menuList{
    position: absolute;
    right:27%;
}
.writeup1{
    flex-direction: column;
    display:flex;
    position: relative;
    width:80%;
    right:50px;
    top:10%;
    height:60%;
}
.title1{
    top:25%;
    position: absolute;
    width:90%;
    font-size:40px;
    line-height:40px;
}
.p1{
    position: absolute;
    font-size:25px;
    top:50%;
}
.btn1{
    top:70%;
    width:65%;
    
}
.container2{
    position:relative;
    width: 100%;
    height: 330%;
    margin: 0;
    padding:0;
}
.header2{
    margin:0;
    padding:45px;
    font-size:25px;
}  
.products1{
    position: relative;
    display:flex;
    flex-wrap:wrap;
    padding-top:30px;
    justify-content: center;
    align-items: center;
}
.products1 img{
    width:18em;
    height:19em;
}
.products1 h3{
     font-size:25px;
}
.products1 h4{
     font-size:30px;
}
.products1 btn{
     font-size: 20px;
     padding:10px 25px;
     position: relative;
     left:2px;
     width:150px;
     display:inline-block;
}
.product1{
     width:100%;
     height:95%;
     text-align: center;
}
.product2{
     width:100%;
     height:95%;
     text-align: center;
     padding-top:70px;
}
.product3{
     width:100%;
     height:95%;
     text-align: center;
     padding-top:70px;
}
.container3{
    margin:0;
    padding:0;
    position:relative;
    width:100%;
}
.writeup2{
    margin:0;
    padding:10;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
}
.writeup2 h1{
    margin:0;
    font-size:40px;
    padding-top:100px;
}
.writeup2 p{
    font-size:20px;
    margin:0;
    padding:0;
}
.container3 .btn2 btn{
    position: relative;
    left:29%;
    width:120px;
    display:flex;
    font-size: 20px;
    padding:12px 30px;   
}
.container4{
    position:relative;
    width: 100%;
    height: 330%;
    margin:0;
    padding:0;
}  
.container4 .header3{
    font-size:30px;
    text-align: center;
    margin:0;
    padding:50px;
}
.products2{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    }
.products2 img{
    width:18em;
    height:19em;
}
.products2 h3{
    font-size:25px;
}
.products2 h4{
    font-size:30px;
}
.products2 btn{
    font-size: 20px;
    padding:10px 25px;
    position: relative;
    left:2px;
    width:150px;
    display:inline-block;
}
.product2a{
    width:100%;
    height:95%;
    text-align: center;
}
.product2b{
    width:100%;
    height:95%;
    text-align: center;
    padding-top:70px;
}
.product2c{
    width:100%;
    height:95%;
    text-align: center;
    padding-top:70px;
}
.footer{
    width: 100%;
    margin:0;
    padding:0;
    position: relative;
    justify-content: center;
    display:flex;
    align-items: center;
}
.footer .header4{
    position:absolute;
    left:32%;
    top:10%;
    font-size:20px;
    text-align: center;
}
.footer .elly{
    position:absolute;
    left:35%;
    bottom:47%;
    text-align: center;
}
.footer .mediaLogo{
    display:flex;
    position: relative;
    left:-9px;
    top:30%;
    text-align: center;  
 }
}
@media (max-width:700px){
.container1{
    margin:0;
    padding:0;
    width:100%;
    position:relative;  
}
.header1{
    position: relative;
    font-size:27px;
    right:18%;
}
.text{
    font-size:25px;
    margin-left:90px;
}

.header .menu{
    position: fixed;
    float:left;
    width:80%;
    height:100%;
    left:21.2%;
    z-index:10;
}
.menu .closeMenu{
    margin-left: 22px;
}
.menuList{
    position: absolute;
    right:31%;
}
.writeup1{
    flex-direction: column;
    display:flex;
    position: relative;
    border:2px solid green;
    width:80%;
    right:50px;
    top:10%;
    height:60%;
}
.title1{
    top:25%;
    position: absolute;
    width:75%;
    font-size:40px;
    line-height:40px;
}
.p1{
    position: absolute;
    font-size:25px;
    top:55%;
}
.btn1{
    top:70%;
    width:55%;  
}
.container2{
    position:relative;
    width: 100%;
    height: 330%;
    margin: 0;
    padding:0;
}
.header2{
    margin:0;
    padding:45px;
    font-size:25px;
}  
.products1{
    position: relative;
    display:flex;
    flex-wrap:wrap;
    padding-top:30px;
    justify-content: center;
    align-items: center;
}
.products1 img{
    width:18em;
    height:19em;
}
.products1 h3{
     font-size:25px;
}
.products1 h4{
     font-size:30px;
}
.products1 btn{
     font-size: 20px;
     padding:10px 25px;
     position: relative;
     left:2px;
     width:150px;
     display:inline-block;
}
.product1{
     width:100%;
     height:95%;
     text-align: center;
}
.product2{
     width:100%;
     height:95%;
     text-align: center;
     padding-top:70px;
}
.product3{
     width:100%;
     height:95%;
     text-align: center;
     padding-top:70px;
}
.container3{
    margin:0;
    padding:0;
    position:relative;
    width:100%;
}
.writeup2{
    margin:0;
    padding:10;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
}
.writeup2 h1{
    margin:0;
    font-size:40px;
    padding-top:100px;
}
.writeup2 p{
    font-size:20px;
    margin:0;
    padding:0;
}
.container3 .btn2 btn{
    position: relative;
    left:35%;
    width:120px;
    display:flex;
    font-size: 20px;
    padding:12px 30px;   
}
.container4{
    position:relative;
    width: 100%;
    height: 330%;
    margin:0;
    padding:0;
}  
.container4 .header3{
    font-size:30px;
    text-align: center;
    margin:0;
    padding:50px;
}
.products2{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    }
.products2 img{
    width:18em;
    height:19em;
}
.products2 h3{
    font-size:25px;
}
.products2 h4{
    font-size:30px;
}
.products2 btn{
    font-size: 20px;
    padding:10px 25px;
    position: relative;
    left:2px;
    width:150px;
    display:inline-block;
}
.product2a{
    width:100%;
    height:95%;
    text-align: center;
}
.product2b{
    width:100%;
    height:95%;
    text-align: center;
    padding-top:70px;
}
.product2c{
    width:100%;
    height:95%;
    text-align: center;
    padding-top:70px;
}
.footer{
    width: 100%;
    margin:0;
    padding:0;
    position: relative;
    justify-content: center;
    display:flex;
    align-items: center;
}
.footer .header4{
    position:absolute;
    left:36%;
    top:10%;
    font-size:20px;
    text-align: center;
}
.footer .elly{
    position:absolute;
    left:38%;
    bottom:47%;
    text-align: center;
}
.footer .mediaLogo{
    display:flex;
    position: relative;
    left:-15px;
    top:30%;
    text-align: center;  
 }
}